
server/source/*/bin/
server/source/*/obj/
server/source/packages/
server/*.suo
server/source/buildreports/
server/source/test-results.xml
*.user
server/source/bin/
nunit-result.xml
*.swp
server/source/coverage
buildreports
server/source/.vs/config/applicationhost.config
server/source/OpenCover/

server/.vs/LocationsApi/v16/
server/source/.vs/

*.v2

server/source/.vs/LocationsApi/v16/
